<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white ">
            <form action="">
                <input class="block px-5 py-2 w-full rounded-md  bg-zinc-600" type="text" placeholder="Title goes here.. ">
                <textarea class="block mt-2 px-5 w-full rounded-md outline-none py-2 bg-zinc-600 resize-none" placeholder="Write your task details here..."></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit" value="Create Task">
            </form>
        </div>
        <div class="tasks p-10">
            <div class="task w-72 px-3 py-4 rounded-md bg-zinc-600">
                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a class="text-blue-500 mt-3" href="">Read More.</a>

                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a class="text-blue-500 mt-3" href="">Read More.</a>

                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a class="text-blue-500 mt-3" href="">Read More.</a>
            </div>
        </div>
    </div>
</body>
</html>